# Add this to the existing list of stages if it already exists in your file
stages:
  - test

# Add this to the existing list of includes if it already exists in your file
include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml

#ivy-tests:
#  stage: test
#  image: python:3.8
#  variables:
#    IVY_ENV: development
#    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
#  before_script:
#    - apt-get update && apt-get install -y libgl1 libglib2.0-0
#    - python -m venv venv
#    - source venv/bin/activate
#    - pip install --upgrade pip
#    - pip install -r requirements.txt
#    - pip install -e .  # Install IVy in editable mode
#    - pip install pytest
#  script:
#    - pytest ./image_velocimetry_tools/tests